<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <ul class="list-group">
  <li class="list-group-item">Lista de Productos</li>


  <li class="list-group-item list-group-item-primary">Harina <button type="button" class="boton">Comprar</button> </li>
  <li class="list-group-item list-group-item-primary">Mantequilla <button type="button" class="boton">Comprar</button> </li>
  <li class="list-group-item list-group-item-primary">Perejil <button type="button" class="boton">Comprar</button> </li>
  <li class="list-group-item list-group-item-primary">Crema de leche <button type="button" class="boton">Comprar</button> </li>
  <li class="list-group-item list-group-item-primary">Spaguetti <button type="button" class="boton">Comprar</button> </li>
  <li class="list-group-item list-group-item-primary">Champiñones <button type="button" class="boton">Comprar</button> </li>

</ul>
  </div>
