<div class="container">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special Elite">
  <br>
  <h1>REGISTRARSE</h1>
  <hr size="20px" color="#88C33E" >

  <br>
  <form>
    <div class="form-group">
      <label class="texto">E-MAIL</label>
      <input type="email" class="ingreso" id="email" aria-describedby="emailHelp" placeholder="Ingrese el e-mail">
    </div>
    <div class="form-group">
      <label class="texto">CONTRASEÑA</label>
      <input type="password"  class="ingreso" id="clave" placeholder="Ingrese la contraseña">
    </div>
<div align="center">
  <button id="ok" type="submit" routerLink="/platos">OK</button>
</div>
</form>
<br>
<div align="center">
  <hr  style="border:1px dotted #88C33E; width:100%" >
  <h5>O REGISTRATE USANDO:</h5>
  <hr  style="border:1px dotted #88C33E; width:100%" >
</div>
<div align="center">
  <pre>
  <img src="/assets/imagenes/iconoInst.png ">     <img src="/assets/imagenes/iconoFb.png ">
  </pre>

</div>


</div>
